# Conditional

In [2]:
x = 0
y = 5

if x < y:
    print('yes')

if y < x:
    print('yes')
else: print('no')
    
if y:
    print('yes')

if 'aul' in 'grault':
    print('yes')

if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')
else: print('no')

yes
no
yes
yes
no

# Grouping Statements

In [3]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement is suit')
    print('...')
    print('Done.')

print('After conditional')

After conditional

In [4]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('inner condition 1')
        
    print('Beetwen inner condiotions')
    
    if 20 > 10:
        print('Inner condition 2')
    
    print('End of outer conditon')
print('Aftter outer condition')

Outer condition is true
Beetwen inner condiotions
Inner condition 2
End of outer conditon
Aftter outer condition

# Else and If Clauses

In [5]:
x = 20

if x < 50:
    print('(first suit)')
    print('x is small')
else:
    print('(second suit)')
    print('x is large')

(first suit)
x is small

In [6]:
x = 120

if x < 50:
    print('(first suit)')
    print('x is small')
else:
    print('(second suit)')
    print('x is large')

(second suit)
x is large

In [7]:
harga_buku = 20000
harga_majalah = 5000
uang = 2000

if uang > harga_buku:
    print('beli buku')
else:
    print('uang tidak cukup')

if uang < harga_majalah:
    print('cari uang lagi')
else:
    print('beli majalah')

uang tidak cukup
cari uang lagi

In [8]:
name = 'Hacktiv8'

if name == 'fred':
    print('Hello fred')
elif name == 'Xander':
    print('Hello xander')
elif name == 'Hacktiv8':
    print('Hello hacktiv8')
elif name == 'Arnold':
    print('Hello arnold')
else:
    print('Lu siapa sih!')

Hello hacktiv8

In [9]:
if 'a' in 'bar':
    print('foo')
elif 1/10:
    print('Ini gak akan terjadi')
elif var:
    print('Ini juga')

foo

# Conditional Expressions

In [10]:
raining = False

print("Let's go to the", 'beach' if not raining else 'library') 
print("Let's go to the", 'beach' if raining else 'library')

Let's go to the beach
Let's go to the library

In [11]:
age = 12

s = "teen" if age < 21 else "adult"
s

'teen'

In [12]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

# The Python pass Statement

In [13]:
if True:
    
print('foo')

IndentationError: expected an indented block after 'if' statement on line 1 (2249588765.py, line 3)

In [14]:
if True:
    pass

print('foo')

foo

# "While" Loops

In [15]:
n = 5

while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [16]:
i = 1

while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [17]:
i = 1

while i < 6:
    print(i)
    i += 2

1
3
5

# Break and Continue Statements

In [18]:
n = 5 

while n > 0:
    n -= 1
    if n == 2:
        break # break statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [20]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop Ended')

4
3
1
0
Loop Ended

# Else Clause

In [21]:
n = 5 

while n > 0:
    n -= 1
    print(n)
else:
    print('Loop Done')

4
3
2
1
0
Loop Done

In [28]:
n = 5

while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop Done')

4
3
2

In [30]:
temp = input('Ketikan temperatur yang ingin di konversi, eg. 45F, 120C: ')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == 'C':
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == 'F':
    result = int(round((degree - 32) * 5 / 9))
else:
    print('Masukan input yang benar')

print('Temperature adalah', result, 'derajat')

Ketikan temperatur yang ingin di konversi, eg. 45F, 120C: 25C
Temperature adalah 77 derajat

In [31]:
while True:
    msg = input('Ketikan karakter: ').lower()
    print(msg)
    if msg == 'stop':
        break

Ketikan karakter: AKU SANGAT KEREN
aku sangat keren
Ketikan karakter: stop
stop

# Infinite Loops

In [ ]:
# jika code ini dijalankan, maka akan loop 'foo' secara terus menerus
while True:
    print('foo')

# Nested While Loops

In [26]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

# One-Line While Loops

In [27]:
# tidak rekomendasi
n = 5

while n > 0: n -= 1; print(n)

4
3
2
1
0